{% extends 'Main/base.html' %}
{% load static %}

{% block content %}
  <div id="main-wrapper" class="main-wrapper">
    <div class="post-single-area mt-60">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-blog-content">
            <div class="post-single-wrapper">
              <div class="post-cat-box">
                <a href="javascript:void(0)">{{ post.category.name }}</a>
              </div>
              <h1 class="post-title">{{ post.title }}</h1>
              <div class="blog-small-excerpt-box">
                <p>{{ post.excerpt }}</p>
              </div>
              <div class="post-bottom-meta-list post-meta-wrapper">
                <div class="post-left-details-meta">
                  <div class="post-meta-author-box">
                    By <a href="#">{{ post.author }}</a>
                  </div>
                  <div class="post-meta-date-box">{{ post.publish_date|date:'M d' }}</div>
                </div>
                <div class="post-meta-social">
                  <i class="fa-regular fa-thumbs-up"></i>
                  <span>0</span>
                  <i class="fa-regular fa-thumbs-down"></i>
                  <span>0</span>
                </div>
              </div>
              <div class="post-featured-image">
                <img src="{{ post.image.url }}" alt="Post Image" />
              </div>
            </div>
            <div class="theme-blog-details">
              <p>{{ post.content }}</p>
              <div class="author-bio-wrap">
                <div class="author-thumbnail">
                  <a href="#"><img src="{{ post.author.image.url }}" alt="Author" /></a>
                </div>
                <div class="author-body">
                  <span class="subtitle">{{ post.author.position }}</span>
                  <h5 class="title">{{ post.author.name }}</h5>
                  <p class="author-inner-text">{{ post.author.bio }}</p>
                  <div class="social-share-author">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="scrolltotop"><i class="ri-arrow-up-s-line"></i></span>
  </div>
{% endblock %}
