{% load static %}

<div class="tp-offcanvas-area">
  <div class="tpoffcanvas">
    <div class="tpoffcanvas__close-btn">
      <button class="close-btn"><i class="icofont-close"></i></button>
    </div>
    <div class="tpoffcanvas__logo offcanvas-logo">
      <a href="index.html"><img src="{% static 'assets/media/logo.svg' %}" alt="Logo" /></a>
    </div>
    <div class="tpoffcanvas__text offcanvas-content">
      <div class="main-canvas-inner">
        <div class="canvas-bar-post-list">
          <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
            <div class="post-block-style-inner post-block-list-style-inner">
              <div class="post-block-media-wrap">
                <a href="post-single.html"><img src="assets/media/brown-fashion.jpg" alt="Post title" /></a>
              </div>
              <div class="post-block-content-wrap">
                <div class="post-item-title">
                  <h2 class="post-title"><a href="post-single.html">Rachel Maddow Will Go Mondays Only On MSNBC</a></h2>
                </div>
                <div class="post-bottom-meta-list">
                  <div class="post-meta-author-box">
                    <a href="javascript:void(0)">Cristiano</a>
                  </div>
                  <div class="post-meta-date-box">Sep 30</div>
                </div>
              </div>
            </div>
          </article>
          <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
            <div class="post-block-style-inner post-block-list-style-inner">
              <div class="post-block-media-wrap">
                <a href="post-single.html"><img src="assets/media/brown-fashion.jpg" alt="Post title" /></a>
              </div>
              <div class="post-block-content-wrap">
                <div class="post-item-title">
                  <h2 class="post-title"><a href="post-single.html">Rachel Maddow Will Go Mondays Only On MSNBC</a></h2>
                </div>
                <div class="post-bottom-meta-list">
                  <div class="post-meta-author-box">
                    <a href="javascript:void(0)">Cristiano</a>
                  </div>
                  <div class="post-meta-date-box">Sep 30</div>
                </div>
              </div>
            </div>
          </article>
          <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
            <div class="post-block-style-inner post-block-list-style-inner">
              <div class="post-block-media-wrap">
                <a href="post-single.html"><img src="assets/media/classic-dress.jpg" alt="Post title" /></a>
              </div>
              <div class="post-block-content-wrap">
                <div class="post-item-title">
                  <h2 class="post-title"><a href="post-single.html">Rachel Maddow Will Go Mondays Only On MSNBC</a></h2>
                </div>
                <div class="post-bottom-meta-list">
                  <div class="post-meta-author-box">
                    <a href="javascript:void(0)">Cristiano</a>
                  </div>
                  <div class="post-meta-date-box">Sep 30</div>
                </div>
              </div>
            </div>
          </article>
          <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
            <div class="post-block-style-inner post-block-list-style-inner">
              <div class="post-block-media-wrap">
                <a href="post-single.html"><img src="assets/media/sky-hat.jpg" alt="Post title" /></a>
              </div>
              <div class="post-block-content-wrap">
                <div class="post-item-title">
                  <h2 class="post-title"><a href="post-single.html">Rachel Maddow Will Go Mondays Only On MSNBC</a></h2>
                </div>
                <div class="post-bottom-meta-list">
                  <div class="post-meta-author-box">
                    <a href="javascript:void(0)">Cristiano</a>
                  </div>
                  <div class="post-meta-date-box">Sep 30</div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="panel-nav-social">
          <a href="#"><i class="icofont-facebook"></i></a>
          <a href="#"><i class="icofont-twitter"></i></a>
          <a href="#"><i class="icofont-instagram"></i></a>
          <a href="#"><i class="icofont-linkedin"></i></a>
          <a href="#"><i class="icofont-youtube"></i></a>
        </div>
      </div>
      <div class="mobile-canvas-content">
        <div class="canvas-nav-menu-wrapper"></div>
      </div>
    </div>
  </div>
</div>
