<div class="post-block-template-three-wrapper">
    {% for post in most_viewed_posts %}
        <article class="post-block-style-wrapper post-block-template-three">
            <div class="post-block-style-inner post-block-list-style-inner-three">
                <div class="post-block-number-wrap">
                    <span class="post-number-counter">{{ forloop.counter }}</span>
                </div>
                <div class="post-block-content-wrap">
                    <div class="post-item-title">
                        <h2 class="post-title">
                            <a href="{% url 'post-detail' slug=post.category.slug id=post.id %}">{{ post.title }}</a>
                        </h2>
                    </div>
                    <div class="post-bottom-meta-list">
                        <!-- Yazar bilgisi kaldırıldı -->
                        <div class="post-meta-date-box">{{ post.created_date|date:"M d" }}</div>
                    </div>
                </div>
            </div>
        </article>
    {% empty %}
        <p>No posts available.</p>
    {% endfor %}
</div>
