<article class="post-block-style-wrapper post-block-template-one post-block-template-medium">
    <div class="post-block-style-inner">
    <div class="post-block-media-wrap">
        <a href="post-single.html"><img src="assets/media/red-girl.jpg" alt="Post title" /></a>
    </div>
    <div class="post-block-content-wrap">
        <div class="post-item-title">
        <h2 class="post-title"><a href="post-single.html">When walking, I keep my eyes straight ahead</a></h2>
        </div>
        <div class="post-excerpt-box">
        <p>Anelle, don’t look down. revere the sun. watch it make a shallow arc, skimming like a stone</p>
        </div>
        <div class="post-bottom-meta-list">
        <div class="post-meta-author-box">
            By <a href="javascript:void(0)">Laura Tanenbaum</a>
        </div>
        <div class="post-meta-date-box">Sep 22</div>
        </div>
    </div>
    </div>
</article>