{% load static %}

<div class="container">
    <div class="row">
        <!-- Sol tarafta 3 gönderi -->
        <div class="col-lg-6">
            {% with oldest_posts|slice:":3" as left_posts %}
                {% for post in left_posts %}
                    <article class="post-block-style-wrapper post-block-template-four">
                        <div class="post-block-style-inner post-block-list-style-inner">
                            <div class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a href="{% url 'post-detail' slug=post.category.slug id=post.id %}">{{ post.title }}</a>
                                    </h2>
                                </div>
                                <div class="post-excerpt-box">
                                    <p>{{ post.excerpt }}</p>
                                </div>
                                <div class="post-bottom-meta-list">
                                    <div class="post-meta-author-box">
                                        By <a href="javascript:void(0)">{{ post.writer }}</a>
                                    </div>
                                    <div class="post-meta-date-box">{{ post.created_date|date:"M d" }}</div>
                                </div>
                            </div>
                            <div class="post-block-media-wrap">
                                <a href="{% url 'post-detail' slug=post.category.slug id=post.id %}">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" />
                                </a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% endwith %}
        </div>

        <!-- Sağ tarafta 3 gönderi -->
        <div class="col-lg-6">
            {% with oldest_posts|slice:"3:6" as right_posts %}
                {% for post in right_posts %}
                    <article class="post-block-style-wrapper post-block-template-four">
                        <div class="post-block-style-inner post-block-list-style-inner">
                            <div class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a href="{% url 'post-detail' slug=post.category.slug id=post.id %}">{{ post.title }}</a>
                                    </h2>
                                </div>
                                <div class="post-excerpt-box">
                                    <p>{{ post.excerpt }}</p>
                                </div>
                                <div class="post-bottom-meta-list">
                                    <div class="post-meta-author-box">
                                        By <a href="javascript:void(0)">{{ post.writer }}</a>
                                    </div>
                                    <div class="post-meta-date-box">{{ post.created_date|date:"M d" }}</div>
                                </div>
                            </div>
                            <div class="post-block-media-wrap">
                                <a href="{% url 'post-detail' slug=post.category.slug id=post.id %}">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" />
                                </a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
</div>
