{% extends 'Main/base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      {% for post in posts %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="{% url 'post_detail' post.category.slug post.pk %}"><img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}" /></a>
            <div class="card-body">
              <h4 class="card-title"><a href="{% url 'post_detail' post.category.slug post.pk %}">{{ post.title }}</a></h4>
              <p class="card-text">{{ post.excerpt|truncatewords:30 }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ post.publish_date|date:'F d, Y' }}</small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
