{% extends 'Main/base.html' %}
{% load static %}
    {% block content %}
        <section class="blog-hero-area mt-30">
            <div class="container">
            <div class="row">
                    <!-- ARTICLE BOLUMU - ANASAYFA SOL SÜTUN -->
                <div class="col-lg-3">
                    {% include "partials/__articleleft.html" with latest_post=latest_post %}
                </div>

                <!-- ARTICLE BOLUMU - ANASAYFA ORTA SÜTUN -->
                <div class="col-lg-6">
                    {% include "partials/__articlemid.html" with second_latest_post=second_latest_post %}
                </div>
                <!-- ARTICLE BOLUMU - ANASAYFA SAĞ SÜTUN  !! HABER KATEGORISI DEGISIYOR!! -->
                <div class="col-lg-3">
                <div class="section-title sm-mt-24">
                    <h2 class="title-block">Todays Pick</h2>
                </div>
                <div class="post-block-template-two-wrapper">
                    {% include "partials/__articleright.html" with most_liked_post=most_liked_post %}
                </div>
                <!-- ANASAYFA SAĞ SÜTUN REKLAM ALANI -->
            </div>
            </div>
            </div>
        </section>
        <div class="section-divider mt-60 mb-60"></div>
        <section class="editor-choice-one-area">
            <div class="container">
            <div class="row">
                <div class="col-lg-4">
                <div class="section-title">
                    <h2 class="title-block">Todays Pick</h2>
                </div>
                {% include "partials/__page2todayspick.html" %}
                </div>
                <div class="col-lg-8 most-recent-col-custom">
                <div class="row">
                    <div class="col-lg-12">
                    <div class="section-title">
                        <h2 class="title-block">Most Recent</h2>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        {% include "partials/__page2mostrecent1.html" %}
                    </div>
                    <div class="col-lg-6">
                        {% include "partials/__page2mostrecent2.html" %}
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>

        <section class="ads-area mt-70 mb-60">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <h3 class="ads-caption d-none"></h3>
                <div class="ads-image">
                </div>
                </div>
            </div>
            </div>
        </section>

        <section class="editor-choice-two-area">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="section-title">
                    <h2 class="title-block">Editor Choice</h2>
                </div>
                </div>
            </div>
            {% include "partials/__page2editorchoice.html" %}
            </div>
        </section>
    </body>
    </html>

    {% endblock %}