{% extends 'Main/base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="post-cat-box">
              <a href="javascript:void(0)">{{ post.category.name }}</a>
            </div>
            <h1 style="color:#262626 ;" class="card-title">{{ post.title }}</h1>
            <div class="blog-small-excerpt-box">
              <p>{{ post.excerpt }}</p>
            </div>
            <div class="post-bottom-meta-list post-meta-wrapper">
              <div class="post-left-details-meta">
                <div class="post-meta-author-box">
                  {% if post.writer %}
                    By <a style="color: #A6A6A6;" href="#">{{ post.writer.name }}</a>
                  {% else %}
                    No author
                  {% endif %}
                </div>
                <div class="post-meta-date-box">{{ post.publish_date|date:'M d' }}</div>
              </div>
              <div class="post-meta-social">
                <form method="post" action="{% url 'like' post.id %}" id="like-form">
                  {% csrf_token %}
                  <button type="submit" class="like-button">
                    <i class="fa-regular fa-thumbs-up"></i>
                    <span>{{ post.likes.count }}</span>
                  </button>
                </form>

                <form method="post" action="{% url 'dislike' post.id %}" id="dislike-form">
                  {% csrf_token %}
                  <button type="submit" class="dislike-button">
                    <i class="fa-regular fa-thumbs-down"></i>
                    <span>{{ post.dislikes.count }}</span>
                  </button>
                </form>
              </div>
            </div>
            <div class="post-featured-image">
              <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid" />
            </div>
            <!-- Renk ayarlarını burada yapalım -->
            <p style="color: #595959;">{{ post.content }}</p>
          </div>
        </div>
        <div class="author-bio-wrap">
          <div class="author-thumbnail">
            <a href="#"><img src="{{ post.writer.image.url }}" alt="Author" class="img-fluid" /></a>
          </div>
          <div class="author-body">
            <span class="subtitle">{{ post.writer.position }}</span>
            <h5 class="title">{{ post.writer.name }}</h5>
            <p class="author-inner-text">{{ post.writer.bio }}</p>
            <div class="social-share-author">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('like-form').addEventListener('submit', function (event) {
      event.preventDefault()
      const form = event.target
      fetch(form.action, {
        method: form.method,
        headers: {
          'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
        },
        body: new FormData(form)
      }).then((response) => {
        if (response.ok) {
          window.location.reload()
        }
      })
    })
  
    document.getElementById('dislike-form').addEventListener('submit', function (event) {
      event.preventDefault()
      const form = event.target
      fetch(form.action, {
        method: form.method,
        headers: {
          'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
        },
        body: new FormData(form)
      }).then((response) => {
        if (response.ok) {
          window.location.reload()
        }
      })
    })
  })
</script>
